<?xml version="1.0" encoding="utf-8"?>
<manifest package="net.pr0npaganda.appvoat"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/icon_appvoat"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppVoatLight">
        <activity
            android:name=".ActivityPostList"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityPostDetail"
            android:label="@string/title_post_detail"
            android:parentActivityName=".ActivityPostList">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.pr0npaganda.appvoat.ActivityPostList"/>
        </activity>
        <activity
            android:name=".ActivityOpenLink"
            android:label="@string/title_post_detail"
            android:parentActivityName=".ActivityPostList">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.pr0npaganda.appvoat.ActivityPostList"/>
        </activity>
        <activity
            android:name=".ActivityOAuth"
            android:label="@string/title_post_detail"
            android:parentActivityName=".ActivityPostList">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.pr0npaganda.appvoat.ActivityOAuth"/>
        </activity>
        <activity
            android:name=".ActivitySettings"
            android:label="@string/title_post_detail"
            android:parentActivityName=".ActivityPostList">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.pr0npaganda.appvoat.ActivityPostList"/>
        </activity>

        <service
            android:name=".services.RefreshTokensService"
            android:enabled="true"
            android:exported="true"></service>
    </application>
</manifest>